* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}

.footer {
  height: 3.7rem;
  text-align: center;
  border: 1.5px solid black;
}
